body {
    margin: 0;
    background-color: #f8f9fa;
    display: flex;
    height: 100vh;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.rental-heading {
    margin-top: 15px;
    margin-bottom: 0;
    letter-spacing: -0.5px;
    font-size: 1.3em;
}

.rental-pricing {
    margin: 2px 0 0;
    font-size: 0.73em;
    font-weight: 500;
    color: #555555;
}

.rental-description {
    font-size: 0.73em;
    font-weight: 500;
    color: #555555;
    margin-bottom: 0;
}

.rental-img {
    width: 280px;
    height: 280px;
    border-radius: 18px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.btn {
    border-radius: 18px;
    padding: 18px;
    color: #fff;
    background-color: #000;
}

.card {
    background-color: #fff;
    width: 280px;
    margin-right: auto;
    margin-left: auto;
    padding: 12px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    /* box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.3); */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

#wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.rating-cards {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.days {
    font-size: 0.65em;
    font-weight: 500;
    color: #595959;
    margin-bottom: 0;
    margin-top: 0;
}

.days-value {
    font-size: 1em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.days-card {
    flex: 1;
    background-color: #f0f0f0;
    padding: 12px 0;
    border-radius: 18px;
    margin-top: 0;
    margin-bottom: 0;
}